@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }

  .enjoy__content {
    padding: 100px 60px;
  }

  .favourites__carousel-btn {
    display: flex;
  }

  .favourites__carousel-subtitle {
    padding: 0 10px;
  }

  .favourites__carousel-item {
    max-width: 480px;
  }

  .about__image {
    transform: scale(1.05);
  }

  .mobile-app__button-wrapper {
    flex-direction: row;
    gap: 20px;
  }

  .mobile-app__wrapper {
    gap: 100px;
  }

  .mobile-app__image {
    width: 630px;
    margin: 0 auto;
  }

  .footer__tile {
    padding: 100px 60px;
    gap: 100px;
  }

  .footer__heading {
    letter-spacing: 2px;
  }

  .footer__heading .heading-2-accent {
    letter-spacing: 1.2px;
  }
}

@media screen and (min-width: 1440px) {
  .header__content-navigation-list {
    margin: 0;
    padding: 0 0 5px;
    display: flex;
    gap: 40px;
    list-style-type: none;
  }

  .header__menu-link {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  .header__menu-link-text {
    padding-bottom: 5px;
  }

  .header__burger-menu {
    display: none;
  }

  .enjoy__content {
    padding: 100px 100px;
  }

  .enjoy__content-wrapper {
    width: 50%;
  }

  .enjoy__paragraph {
    padding-right: 11px;
  }

  .enjoy__button-img {
    display: none;
  }

  .enjoy__button:hover > .enjoy__button-img {
    display: block;
  }

  .favourites__carousel-caption {
    max-width: 480px;
  }

  .about__image-wrapper {
    flex-direction: row;
  }

  .about__image-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .about__image-container._bottom_left,
  .about__image-container._top-right {
    display: block;
  }

  .about__image-container._top-left,
  .about__image-container._bottom-right {
    height: 590px;
  }
  .about__image-container._bottom_left,
  .about__image-container._top-right {
    height: 430px;
  }

  .about__image {
    transform: scale(1.1);
  }

  .mobile-app__wrapper {
    flex-direction: row;
    align-items: center;
  }

  .mobile-app__paragraph {
    letter-spacing: 0.2px;
  }

  .footer__tile {
    padding: 100px;
    flex-direction: row;
    align-items: center;
  }

  .footer__tile > div {
    flex: 1 0 0;
  }
}
