@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }

  .enjoy__content {
    padding: 100px 60px;
  }

  .enjoy__heading {
    font-size: 72px;
    line-height: 105%;
    letter-spacing: 1.5px;
  }

  .enjoy__paragraph {
    letter-spacing: 0.15px;
  }

  .favourites__heading {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 1.1px;
  }

  .favourites__slider-content {
    gap: 45px;
  }

  .favourites__slider-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  .favourites__slider-btn {
    display: flex;
  }

  .about__heading {
    font-size: 60px;
    letter-spacing: 1.1px;
  }

  .about__image {
    transform: scale(1.05);
  }

  .mobile-app__heading {
    font-size: 60px;
    letter-spacing: 1.1px;
  }

  .mobile-app__button-wrapper {
    flex-direction: row;
    gap: 20px;
  }

  .mobile-app__wrapper {
    gap: 100px;
  }

  .mobile-app__image {
    width: 630px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .header__content-navigation-list {
    margin: 0;
    padding: 0 0 5px;
    display: flex;
    gap: 40px;
    list-style-type: none;
  }

  .header__menu-link {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  .header__menu-link-text {
    padding-bottom: 5px;
  }

  .header__burger-menu {
    display: none;
  }

  .enjoy__content {
    padding: 100px 100px;
  }

  .enjoy__content-wrapper {
    width: 50%;
  }

  .enjoy__paragraph {
    padding-right: 11px;
  }

  .enjoy__button-img {
    display: none;
  }

  .favourites__img {
    max-width: 480px;
    margin-bottom: 17px;
  }

  .favourites__slider-subtitle {
    max-width: 480px;
  }

  .about__heading {
    letter-spacing: 0.9px;
  }

  .about__image-wrapper {
    flex-direction: row;
  }

  .about__image-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .about__image-container._bottom_left,
  .about__image-container._top-right {
    display: block;
  }

  .about__image-container._top-left,
  .about__image-container._bottom-right {
    height: 590px;
  }
  .about__image-container._bottom_left,
  .about__image-container._top-right {
    height: 430px;
  }

  .about__image {
    transform: scale(1.1);
  }

  .mobile-app__wrapper {
    flex-direction: row;
    align-items: center;
  }

  .mobile-app__paragraph {
    letter-spacing: 0.2px;
  }
}
