.header {
  padding: 20px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-dark);
}

.header__content-navigation-list {
  display: none;
}

.header__menu-link {
  display: none;
}

.logo-img {
  position: relative;
  z-index: 999;
}

#burger-menu-toggle {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.header__burger-menu-button {
  width: 44px;
  height: 44px;
  position: relative;
  display: flex;
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  cursor: pointer;
}

.header__burger-menu-button-vector {
  width: 16px;
  height: 1.5px;
  background-color: var(--text-dark);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header__burger-menu-button-vector:nth-child(2) {
  margin-top: 6px;
}

.header__burger-menu-open {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  padding: 60px 16px;
  background-color: var(--bg-body);
  transition: all 0.4s ease-in-out;
}

#burger-menu-toggle:checked + .header__burger-menu-button .header__burger-menu-button-vector {
  margin-top: -1px;
}

#burger-menu-toggle:checked + .header__burger-menu-button .header__burger-menu-button-vector:nth-child(1) {
  transform: rotate(405deg);
}

#burger-menu-toggle:checked + .header__burger-menu-button .header__burger-menu-button-vector:nth-child(2) {
  transform: rotate(-405deg);
}

#burger-menu-toggle:checked ~ .header__burger-menu-open {
  visibility: visible;
  opacity: 1;
}

.header__burger-menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.header__burger-menu-list-link {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.header__burger-menu-link {
  margin-top: 100px;
}

.burger-menu-img {
  width: 40px;
  height: auto;
}
