.header__content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #403f3d;
    font-size: 16px;
    font-weight: 600;
}

.header__content-navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.header__content-logo {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

a {
    text-decoration: none;
}
