.about__heading {
  margin-bottom: 40px;
  color: var(--text-dark);
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}

.about__image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.about__image-column {
  width: 100%;
}

.about__image-container {
  width: 100%;
  height: 590px;
  overflow: hidden;
  border-radius: 20px;
}

.about__image-container._bottom_left,
.about__image-container._top-right {
  display: none;
}

.about__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  transform: scale(1.24);
}
