.favourites__heading {
  margin-bottom: 40px;
  color: var(--text-dark);
  text-align: center;
}

.favourites__carousel-content {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.favourites__carousel-btn {
  display: none;
  width: 60px;
  height: 60px;
  color: var(--text-dark);
  background: transparent;
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.favourites__carousel-center {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 45px;
}

.favourites__img {
  height: 480px;
  max-width: 100%;
}

.favourites__carousel {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.favourites__carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.favourites__carousel-item {
  max-width: 348px;
  display: none;
  flex-direction: column;
  gap: 20px;
  animation: fade 0.7s ease-out;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.favourites__carousel-item._active {
  display: flex;
}

.favourites__carousel-controls {
  display: flex;
  gap: 12px;
}

.favourites__carousel-control {
  width: 40px;
  height: 4px;
  background-color: var(--border-light);
  border: none;
  border-radius: 2px;
}

.favourites__carousel-control._active {
  background-color: var(--border-dark);
}

.favourites__carousel-title,
.favourites__carousel-subtitle,
.favourites__carousel-price {
  color: var(--text-dark);
  text-align: center;
}

@keyframes fade {
  from {
    opacity: 0.5;
    transform: scale(1.005);
  }
  to {
    opacity: 1;
  }
}
