.favourites__heading {
  margin-bottom: 40px;
  color: var(--text-dark);
  text-align: center;
}

.favourites__slider-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.favourites__slider-btn {
  display: none;
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.favourites__slider-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favourites__img {
  max-width: 100%;
  margin-bottom: 20px;
}

.favourites__slider-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.favourites__slider-title,
.favourites__slider-subtitle,
.favourites__slider-price {
  color: var(--text-dark);
  text-align: center;
}
