.heading-1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: 1.4px;
}

.heading-2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 1px;
}

.heading-3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.4px;
}

.heading-1-accent {
  font-family: 'Inter-Italic';
  color: var(--text-accent);
}

.heading-2-accent {
  font-style: italic;
  color: var(--text-accent);
}

.body-medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.body-caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.button-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
}

.burger-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 1.2px;
}

/* .text-highlighted {
  font-family: 'Inter-Italic';
  font-style: italic;
  color: var(--text-accent);
} */

@media screen and (min-width: 768px) {
  .heading-1 {
    font-size: 72px;
    line-height: 105%;
    letter-spacing: 2.2px;
  }

  .heading-2 {
    font-size: 60px;
    letter-spacing: 2px;
  }
}
