.enjoy__content {
  padding: 60px 16px;
  background-image: url(/coffee-house/assets/images/img-hero.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 40px;
}

.enjoy__heading {
  color: var(--text-light);
}

.enjoy__paragraph {
  margin: 40px 0;
  color: var(--text-light);
  letter-spacing: 0.1px;
}

.enjoy__button {
  width: 200px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 8px;
  border-radius: 100px;
  background-color: var(--bg-body);
}
