.enjoy__content {
  position: relative;
  padding: 60px 16px;
  border-radius: 40px;
  overflow: hidden;
}

.enjoy__video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.enjoy__content-wrapper {
  max-width: 530px;
}

.enjoy__heading {
  color: var(--text-light);
}

.enjoy__paragraph {
  margin: 40px 0;
  color: var(--text-light);
  letter-spacing: 0.1px;
}

.enjoy__button {
  width: 200px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 8px;
  border-radius: 100px;
  background-color: var(--bg-body);
}
