@font-face {
  font-family: 'Inter';
  /* src: url(../../assets/fonts/Inter/static/Inter_18pt-Regular.ttf); */
  src: url(../../assets/fonts/Inter/Inter.ttf);
}

@font-face {
  font-family: 'Inter-Italic';
  /* src: url(../../assets/fonts/Inter/static/Inter_18pt-Regular.ttf); */
  src: url(../../assets/fonts/Inter/Inter-Italic.ttf);
}
