.footer {
  padding: 100px 0 40px;
}

.footer__tile {
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--bg-container);
  border-radius: 40px;
}

.footer__heading {
  margin-bottom: 40px;
  color: var(--text-light);
  letter-spacing: 0.8px;
}

.footer__social {
  display: flex;
  gap: 12px;
  list-style: none;
}

.footer__social-item {
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-light);
  border-radius: 50%;
}

.footer__social-link {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__contact-us {
  margin-bottom: 40px;
  color: var(--text-light);
}

.footer__contact-item + .footer__contact-item {
  margin-top: 16px;
}

.footer__contact-link {
  color: var(--text-light);
  display: flex;
  gap: 8px;
  align-items: center;
  line-height: 175%;
  letter-spacing: 0.3px;
}
