@import url(fonts/fonts.css);
@import url(global/global.css);
@import url(global/vars.css);
@import url(global/typography.css);
@import url(components/header/header.css);
@import url(components/footer/footer.css);
@import url(components/menu/menu.css);
@import url(components/modal/modal.css);
@import url(media-queries/media-queries.css);
