* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--bg-body);
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

a {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-dark);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button:hover {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

svg.fillCurrent *[fill] {
  fill: currentColor;
}

svg.fillCurrent *[stroke] {
  stroke: currentColor;
}
