.modal {
  display: none;
}

.modal._active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg-backdrop);
  opacity: 0.8;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-description-card {
  width: 342px;
  padding: 16px;
  border-radius: 40px;
  color: var(--text-dark);
  background-color: var(--bg-body);
}

.modal__img-container {
  display: none;
}

.modal__description {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.modal__description-heading {
  margin-bottom: 12px;
}

.modal__description-title {
  margin-bottom: 8px;
}

.modal__description-additives {
  margin-top: 20px;
}

.modal__description-options {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  font-weight: 600;
  line-height: 150%;
}

.modal__option-container {
  padding: 8px 16px 8px 8px;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-light);
  border-radius: 100px;
  transition: all 0.3s ease;
}

.modal__option-container:hover {
  cursor: pointer;
  background-color: var(--bg-container);
  color: var(--text-light);
}

.modal__option-label {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-dark);
  background-color: var(--border-light);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.modal__option-container:has(input:checked) {
  background-color: var(--bg-container);
  color: var(--text-light);
}

.modal__option-container input:checked + .modal__option-label {
  background-color: var(--bg-body);
}

.modal__option-container:hover .modal__option-label {
  background-color: var(--bg-body);
}

.modal__description-price {
  display: flex;
  justify-content: space-between;
}

.modal__description-alert {
  padding: 12px 0;
  display: flex;
  gap: 8px;
  font-size: 10px;
  line-height: 125%;
  border-top: 1px solid var(--border-light);
}

.modal__description-alert-icon {
  display: flex;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.modal__description-button {
  padding: 10px 0;
  color: var(--text-dark);
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  background-color: inherit;
  transition: all 0.3s ease;
}

.modal__description-button:hover {
  color: var(--text-light);
  background-color: var(--bg-container);
}
